<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Esboços</h1>
  <a (click)="openModal(template)" class="btn btn-icon btn-pill btn-success" data-toggle="tooltip" title="Novo"><i
      class="fa fa-fw fa-plus"></i>Novo</a>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Número</th>
      <th scope="col">Título</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let esboco of returnedEsbocos">
      <th scope="row"></th>
      <th>{{esboco.numero}}</th>
      <th>{{esboco.titulo}}</th>
      <td class=" actions">
        <a (click)="openModal(template, esboco)" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip"
          title="Editar"><i class="fa fa-fw fa-edit"></i></a>
        <a (click)="remove(esboco)" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip"
          title="Remove"><i class="fa fa-fw fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<pagination class="justify-content-end" [maxSize]="5" previousText="Anterior" [totalItems]="esbocos?.length" [itemsPerPage]="10" nextText="Próxima"
  (pageChanged)="pageChanged($event)"></pagination>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Esboço</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="formEsboco" (submit)="save()">
      <input type="text" formControlName="id" hidden>
      <div class="form-group">
        <label for="formGroupNumero">Número</label>
        <input type="number" class="form-control" formControlName="numero" placeholder="Informe o número">
      </div>
      <div class="form-group">
        <label for="formGroupTitulo">Título</label>
        <input type="text" class="form-control" formControlName="titulo" placeholder="Informe o título">
      </div>
      <div class="modal-footer mt-3">
        <div class="form-group">
          <button class="btn btn-success mr-2" [disabled]="!formEsboco.valid">Salvar</button>
          <button class="btn btn-danger" (click)="closeModal()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<app-confirmation-dialog></app-confirmation-dialog>
