<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h1 class="h2">Oradores</h1>
  <a (click)="openModal(template)" class="btn btn-icon btn-pill btn-success" data-toggle="tooltip" title="Novo"><i
      class="fa fa-fw fa-plus"></i>Novo</a>
</div>

<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">Nome</th>
      <th scope="col">Telefone</th>
      <th scope="col">Congregação</th>
      <th scope="col">Ativo</th>
      <th scope="col">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let orador of returnedEntity">
      <th scope="row">
      </th>
      <th>{{orador.nome}}</th>
      <td>{{orador.telefone}}</td>
      <td>{{orador.congregacaoNome}}</td>
      <td>{{orador.ativo ? 'Sim' : 'Não'}}</td>
      <td class=" actions">
        <a (click)="openModal(template, orador)" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip"
          title="Editar"><i class="fa fa-fw fa-edit"></i></a>
        <a (click)="remove(orador)" class="btn btn-icon btn-pill btn-danger ml-1" data-toggle="tooltip" title="Remove"><i
            class="fa fa-fw fa-trash"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<pagination class="justify-content-end" [maxSize]="5" previousText="Anterior" [totalItems]="entities?.length" [itemsPerPage]="10" nextText="Próxima" (pageChanged)="pageChanged($event)"></pagination>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Orador</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="save()">
      <input type="text" formControlName="id" hidden>
      <div class="form-group">
        <label for="formGroupNome">Nome</label>
        <input type="text" class="form-control" formControlName="nome" placeholder="Informe o nome">
      </div>
      <app-autocomplete [service]="serviceCongregacaoToAutocomplete" [title]="congregacaoTitle" [fieldId]="congregacaoId" [fieldName]="congregacaoNome" [parentForm]="form" [search]="selectedEntity?.congregacaoNome"></app-autocomplete>
      <div class="form-group">
        <label for="formGroupTelefone">Telefone</label>
        <input type="text" class="form-control" formControlName="telefone" placeholder="Informe o telefone">
      </div>
      <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="ativo">
        <label class="form-check-label" for="ativo">Ativo</label>
      </div>
      <div class="modal-footer mt-3">
        <div class="form-group">
          <button class="btn btn-success mr-2" [disabled]="!form.valid">Salvar</button>
          <button class="btn btn-danger" (click)="closeModal()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<app-confirmation-dialog></app-confirmation-dialog>
